---
import { Image } from "astro:assets";
import CalendarDays from "../icons/calendar-days.astro";
import CardContent from "./ui/card/card-content.astro";
import Card from "./ui/card/card.astro";
const jobs = [
  {
    role: "Licenciatura en Administracion de Empresas",
    company: "Universidad Nacional de Mar del Plata",
    logo: "/unmdp.jpg",
    duration: "Marzo 2015 - Diciembre 2020 (GRADUADO)",
    images: [],
  },
  {
    role: "Tecnicatura en Programacion",
    company: "Universidad CAECE",
    logo: "/caece.jpg",
    duration: "2019 - 2020 (INCONCLUSO - 40% GRADO DE AVANCE)",
    images: [],
  },
];
---
<h2 class="text-xl font-bold mb-4 mt-4">Educacion</h2>
<Card>
  <CardContent className="pt-6">
    <ul class="space-y-8">
      {
        jobs.map((j, i) => (
          <li class="border-b last:border-b-0 pb-8 last:pb-0">
            {/* Job Details */}
            <div class="flex items-center space-x-4">
              <Image
                src={j.logo}
                alt={j.company}
                width={40}
                height={40}
                class="rounded-md border shadow-md object-cover"
              />
              <div>
                <h3 class="font-semibold">{j.role}</h3>
                <p class="text-sm text-muted-foreground">{j.company}</p>

                <p class="text-xs text-muted-foreground mt-1 flex items-center"> <CalendarDays class="size-3 mr-2" /> {j.duration} </p>
              </div>
            </div>

            {/* <p class="text-sm/6 mt-2 text-justify">{j.description}</p>
            <p class="text-sm/6 mt-2 text-justify">{j.description2}</p> */}
            {/* Job Images */}
            {/* <JobImages
              role={j.role}
              link={j.link}
              images={j.images}
              duration={j.duration}
            /> */}
          </li>
        ))
      }
    </ul>
  </CardContent>
</Card>